<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.imrhj.upload_img</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1043DFC4-DD6B-4C97-B1FB-F8C7BC4AAEE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF64A10E-B5CA-4E61-9032-5F8B9DA99A48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14E96BEF-8A6D-4A6F-AF39-1F8272E6B662</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>516783B5-35E5-4905-83F8-6F3F4B5F7FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>327DE171-E329-4B6B-AB6B-3CDC0E47255B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8664A878-CB9A-4C37-A7AE-5FDCAB8EE95F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A400F7D6-6C19-4AED-BD4F-257C14C8053C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BA36B0B-B71E-4107-B60A-3ED767F956BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD36679-A4C4-4A33-91B1-5AADDE2F36D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E7F012A-875E-4898-80C2-37350FF56653</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>327DE171-E329-4B6B-AB6B-3CDC0E47255B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DCAF7181-358D-41AB-A31E-9C10E9D853C8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>复制普通链接</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>481BC130-27FE-4048-8747-C97F32AEEC0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44CAFB9A-6F3D-4082-9A20-3AC3364DB7C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69AA5987-4C5F-4B5A-9B34-6FCE969007FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5793D711-CABA-4FC0-B83B-5ACA8E38AD66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44CAFB9A-6F3D-4082-9A20-3AC3364DB7C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69AA5987-4C5F-4B5A-9B34-6FCE969007FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A95E6B7-29D0-4EBD-9232-C488501F889D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BA36B0B-B71E-4107-B60A-3ED767F956BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B20607C-DC7A-4B08-A2B6-71F9C34CCC5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EDB4A38-D97B-4810-9018-5AB64DA70A66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64A7DC53-2ADA-4BEB-ADAC-A6581322E504</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44CAFB9A-6F3D-4082-9A20-3AC3364DB7C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69AA5987-4C5F-4B5A-9B34-6FCE969007FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75911666-96FB-494F-8EB6-449090337749</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B20607C-DC7A-4B08-A2B6-71F9C34CCC5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75FAF430-8D72-455A-8251-D68B34433A25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44CAFB9A-6F3D-4082-9A20-3AC3364DB7C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69AA5987-4C5F-4B5A-9B34-6FCE969007FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82952C45-C6CD-475E-BA11-AC8813741E6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B17DAE6F-7C72-40B1-B638-4A6EEF2DD318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8664A878-CB9A-4C37-A7AE-5FDCAB8EE95F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64A7DC53-2ADA-4BEB-ADAC-A6581322E504</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99141459-04E5-4400-824B-54FA0EB589FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82952C45-C6CD-475E-BA11-AC8813741E6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A400F7D6-6C19-4AED-BD4F-257C14C8053C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14E96BEF-8A6D-4A6F-AF39-1F8272E6B662</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B17DAE6F-7C72-40B1-B638-4A6EEF2DD318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>516783B5-35E5-4905-83F8-6F3F4B5F7FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5D08C92-16F9-4357-9520-9EC4C936831B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>481BC130-27FE-4048-8747-C97F32AEEC0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFFD40A3-F22D-41A4-95E4-A232FC216BB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75911666-96FB-494F-8EB6-449090337749</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>在浏览器内打开</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FED7BB81-276C-4CEB-8912-B1529E60051E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>复制markdown链接</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5D08C92-16F9-4357-9520-9EC4C936831B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99141459-04E5-4400-824B-54FA0EB589FF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>删除此图片</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5A95E6B7-29D0-4EBD-9232-C488501F889D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA255762-6E94-403A-B06F-187BFA3D1FE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5793D711-CABA-4FC0-B83B-5ACA8E38AD66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCAF7181-358D-41AB-A31E-9C10E9D853C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA255762-6E94-403A-B06F-187BFA3D1FE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1043DFC4-DD6B-4C97-B1FB-F8C7BC4AAEE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FED7BB81-276C-4CEB-8912-B1529E60051E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75FAF430-8D72-455A-8251-D68B34433A25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF64A10E-B5CA-4E61-9032-5F8B9DA99A48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>516783B5-35E5-4905-83F8-6F3F4B5F7FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFD36679-A4C4-4A33-91B1-5AADDE2F36D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>516783B5-35E5-4905-83F8-6F3F4B5F7FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hexer</string>
	<key>description</key>
	<string>上传图片到图床，将markdown格式的链接复制到剪贴板</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>上传图片</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>已复制到剪贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>44CAFB9A-6F3D-4082-9A20-3AC3364DB7C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[\s\S]*(!\[\w+.\w+\]\(h.+\))[\s\S]*</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>64A7DC53-2ADA-4BEB-ADAC-A6581322E504</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py up</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>327DE171-E329-4B6B-AB6B-3CDC0E47255B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>[\s\S]*(!\[\w+.\w+\]\(h.+\))[\s\S]*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8664A878-CB9A-4C37-A7AE-5FDCAB8EE95F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>err:.+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A400F7D6-6C19-4AED-BD4F-257C14C8053C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>err:(.+)</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>14E96BEF-8A6D-4A6F-AF39-1F8272E6B662</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imgup</string>
				<key>subtext</key>
				<string>自动复制markdown链接(按ctrl复制普通链接)</string>
				<key>text</key>
				<string>上传图片到图床</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E7F012A-875E-4898-80C2-37350FF56653</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[\s\S]*(!\[\w+.\w+\]\(h.+\))[\s\S]*</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5793D711-CABA-4FC0-B83B-5ACA8E38AD66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py upnormal</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DCAF7181-358D-41AB-A31E-9C10E9D853C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>[\s\S]*(!\[\w+.\w+\]\(h.+\))[\s\S]*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DA255762-6E94-403A-B06F-187BFA3D1FE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>69AA5987-4C5F-4B5A-9B34-6FCE969007FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>err:.+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1043DFC4-DD6B-4C97-B1FB-F8C7BC4AAEE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>err:(.+)</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>FF64A10E-B5CA-4E61-9032-5F8B9DA99A48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>set:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>75911666-96FB-494F-8EB6-449090337749</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>url:(https:.+\.\w+) delete:(https:.+)</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5B20607C-DC7A-4B08-A2B6-71F9C34CCC5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>516783B5-35E5-4905-83F8-6F3F4B5F7FA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>url:(https:.+\.\w+) delete:(https:.+)</string>
				<key>replacestring</key>
				<string>![$1]($1)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>75FAF430-8D72-455A-8251-D68B34433A25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>set:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FED7BB81-276C-4CEB-8912-B1529E60051E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>url:(https:.+\.\w+) delete:(https:.+)</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>481BC130-27FE-4048-8747-C97F32AEEC0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>imglist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python main.py list</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>imglist</string>
				<key>title</key>
				<string>图床列表</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CFFD40A3-F22D-41A4-95E4-A232FC216BB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>set:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B5D08C92-16F9-4357-9520-9EC4C936831B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B17DAE6F-7C72-40B1-B638-4A6EEF2DD318</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1EDB4A38-D97B-4810-9018-5AB64DA70A66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>url:(https:.+\.\w+) delete:(https:.+)</string>
				<key>replacestring</key>
				<string>delete:$2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>82952C45-C6CD-475E-BA11-AC8813741E6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>set:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>99141459-04E5-4400-824B-54FA0EB589FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python main.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3BA36B0B-B71E-4107-B60A-3ED767F956BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFD36679-A4C4-4A33-91B1-5AADDE2F36D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>set:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5A95E6B7-29D0-4EBD-9232-C488501F889D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>一个上传图片的workflow，将图片上传到图床sm.ms，默认生成markdown链接，按住ctrl复制普通链接命令为 imgup
同时配合Leancloud使用，将上传的图片链接保存到leancloud,通过命令imglist查看上传列表。
第一次使用需要去leancloud创建一个项目并将app_id,app_key输入，查看命令输入命令imglist可以输入app_id,app_key。</string>
	<key>uidata</key>
	<dict>
		<key>1043DFC4-DD6B-4C97-B1FB-F8C7BC4AAEE0</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>14E96BEF-8A6D-4A6F-AF39-1F8272E6B662</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>1EDB4A38-D97B-4810-9018-5AB64DA70A66</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>327DE171-E329-4B6B-AB6B-3CDC0E47255B</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>3BA36B0B-B71E-4107-B60A-3ED767F956BF</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>3E7F012A-875E-4898-80C2-37350FF56653</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>44CAFB9A-6F3D-4082-9A20-3AC3364DB7C3</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>481BC130-27FE-4048-8747-C97F32AEEC0D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>516783B5-35E5-4905-83F8-6F3F4B5F7FA3</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>5793D711-CABA-4FC0-B83B-5ACA8E38AD66</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>5A95E6B7-29D0-4EBD-9232-C488501F889D</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>5B20607C-DC7A-4B08-A2B6-71F9C34CCC5D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>64A7DC53-2ADA-4BEB-ADAC-A6581322E504</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>69AA5987-4C5F-4B5A-9B34-6FCE969007FD</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>75911666-96FB-494F-8EB6-449090337749</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>75FAF430-8D72-455A-8251-D68B34433A25</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>82952C45-C6CD-475E-BA11-AC8813741E6B</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>8664A878-CB9A-4C37-A7AE-5FDCAB8EE95F</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>99141459-04E5-4400-824B-54FA0EB589FF</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>A400F7D6-6C19-4AED-BD4F-257C14C8053C</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>B17DAE6F-7C72-40B1-B638-4A6EEF2DD318</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>B5D08C92-16F9-4357-9520-9EC4C936831B</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>CFFD40A3-F22D-41A4-95E4-A232FC216BB0</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>DA255762-6E94-403A-B06F-187BFA3D1FE7</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>DCAF7181-358D-41AB-A31E-9C10E9D853C8</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>FED7BB81-276C-4CEB-8912-B1529E60051E</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>FF64A10E-B5CA-4E61-9032-5F8B9DA99A48</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>FFD36679-A4C4-4A33-91B1-5AADDE2F36D6</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>imrhj.cn</string>
</dict>
</plist>
